#controls {
	position: absolute;
	font-size: 12px;
	bottom: 1em;
	left: 1em;
	color: rgba(80,160,255,0.75);
}
/*#controls:hover {
	font-size: 20px;
}
*/
.keys {
	font-weight: bold;
	color: rgba(80,160,255,1);
}