body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

canvas {
	display: block;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#menu {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

.element {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	cursor: pointer;
	width: 800px;
	height: 800px;
	box-shadow: 0px 0px 12px rgba(80,200,255,0.5);
	border: 1px solid rgba(80,160,208,0.25);
	font-family: Helvetica, sans-serif;
	text-align: center;
	line-height: normal;
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.element:hover {
	box-shadow: 0px 0px 12px rgba(80,200,255,0.8);
	border: 1px solid rgba(80,140,255,0.8);
}

	.element .number {
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 0px;
		color: rgba(80,160,255,0.75);
	}

	.element .year {
		position: absolute;
		top: 40px;
		left: 0px;
		right: 0px;
		font-size: 60px;
		font-weight: bold;
		color: rgba(255,255,255,0.75);
		text-shadow: 0 0 10px rgba(80,120,255,0.95);
	}

	.element .details {
		padding: 40px;
		position: absolute;
		top: 100px;
		left: 0px;
		right: 0px;
		font-size: 22px;
		color: rgba(100,160,255,0.75);
	}

	.element img {
		margin-top: 100px;
		max-width: 500px;
		/*max-height: 90%;*/
	}

a {
	color: #8ff;
	/*color: #ff0;*/
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a, button, input, select {
	pointer-events: auto;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

button {
	color: rgba(80,120,220,0.75);
	background: transparent;
	outline: 1px solid rgba(100,160,240,0.75);
	border: 0px;
	padding: 5px 10px;
	cursor: pointer;
}

button:hover {
	background-color: rgba(40,80,200,0.5);
}

button:active {
	color: #FFFFFF;
	background-color: rgba(40,80,240,0.5);
}
