body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


/*canvas {
	display: block;
}*/

/*#dashboard {
	position: absolute;
	bottom: -10%;
	left: -50%;
	width: 200%;
	height: 30%;
	border-radius: 50%;
	background: rgba(0,40,120,0.4);
	box-shadow: 0px 0px 12px rgba(80,200,255,0.4);
	border: 1px solid rgba(80,140,255,0.4);
	font-family: Helvetica, sans-serif;
}
*/

/*#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1;
}
*/

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}

.element {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	cursor: pointer;
	width: 800px;
	height: 800px;
	box-shadow: 0px 0px 12px rgba(80,200,255,0.5);
	border: 1px solid rgba(80,160,208,0.25);
	font-family: Helvetica, sans-serif;
	text-align: center;
	line-height: normal;
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.element:hover {
	box-shadow: 0px 0px 12px rgba(80,200,255,0.8);
	border: 1px solid rgba(80,140,255,0.8);
}

	.element .number {
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 0px;
		color: rgba(80,160,255,0.75);
	}

	.element .year {
		position: absolute;
		top: 40px;
		left: 0px;
		right: 0px;
		font-size: 60px;
		font-weight: bold;
		color: rgba(255,255,255,0.75);
		text-shadow: 0 0 10px rgba(80,120,255,0.95);
	}

	.element .details {
		padding: 40px;
		position: absolute;
		top: 100px;
		left: 0px;
		right: 0px;
		font-size: 22px;
		color: rgba(100,160,255,0.75);
	}

	.element img {
		margin-top: 100px;
		max-width: 500px;
		/*max-height: 90%;*/
	}

a {
	color: #8ff;
	/*color: #ff0;*/
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a, button, input, select {
	pointer-events: auto;
}

button {
	text-transform: uppercase;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	color: rgba(80,120,220,0.75);
	background: transparent;
	outline: 1px solid rgba(80,120,220,0.75);
	border: 0px;
	padding: 5px 10px;
	cursor: pointer;
}

button:hover,
#datatypes div:hover {
	box-shadow: 0px 0px 12px rgba(80,200,255,0.8);
	outline: 1px solid rgba(80,140,255,0.8);
}

button:active,
#datatypes div:active {
	color: #FFFFFF;
	background-color: rgba(40,80,240,0.5);
}

#buttons {
	margin-bottom: 50px;
}

#buttons, #datatypes {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

#datatypes div {
	display: inline-block;
	width: 100px;
	text-transform: uppercase;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	color: rgba(80,120,220,0.75);
	background: transparent;
	outline: 1px solid rgba(80,120,220,0.75);
	border: 0px;
	padding: 5px 10px;
	margin: 1px;
	cursor: pointer;
}

#menu_icon {
	cursor: pointer;
	position: absolute;
	top: 10px;
	left: 10px;
	height: 40px;
	width: 40px;
	font-size: 30px;
	text-align: center;
	border-radius: 50%;
	/*border: 2px solid rgba(80,120,220,0.75);*/
	color: rgba(80,120,220,0.75);
	z-index: 10;
}

#menu_icon:hover {
	color: rgba(100,140,240,0.85);
	/*background-color: rgba(40,80,200,0.5);*/
}

#menu_icon:active {
	color: rgba(255,255,255,1.0);
	transform: rotate(90deg);
	/*background-color: rgba(40,80,240,0.5);*/
}

#menu_icon.open {
	transform: rotate(90deg);
}

#menu_icon div {
	margin-top: 15%;
	margin-left: 15%;
	width: 30px;
	height: 30px;
}

#menu {
	cursor: pointer;
	visibility: hidden;
	position: absolute;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	cursor: pointer;
	left: -2px;
	height: 101%;
	background: rgba(0,40,120,0.4);
	box-shadow: 0px 0px 12px rgba(80,200,255,0.4);
	border: 1px solid rgba(80,140,255,0.4);
	font-family: Helvetica, sans-serif;
	text-align: center;
	line-height: normal;
	/* disable text select */
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
-webkit-transition: width 4s; /* Safari prior 6.1 */
  	transition: width 4s;
}

#menu.open {
	visibility: visible;
	width: 40%;
	-webkit-transition: width 4s; /* Safari prior 6.1 */
  	transition: width 4s;
}
