body{
	font-family: Monospace;
	background-color: #000;
	color: #fff;
	margin: 0px;
	overflow: hidden;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/*#homepage {
	position: absolute;
	z-index: 999;
	top: 10px;
	width: 150px;
	height: 50px;
	cursor: pointer;
	background-image: url('/images/home.png');
	background-repeat: no-repeat;
	background-size: contain;
}*/
#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display: block;
}
#controls {
	border-radius: 5%;
	opacity: 0.5;
	font-size: 50%;
	position: absolute;
	text-align: right;
	z-index: 100;
	top: 10px;
	right: 10px;
}
.controlstext {
	margin: 0px;
	margin-bottom: 5px;
	margin-right: 40%;
}
.button {
	position: absolute;
	left: 10px;
	color: turquoise;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer
}
.actions {
	padding: 5px;
	line-height: 0;
}
.actions span {
	line-height: 4em;
	padding: 1em;
	border: 1px solid white;
	cursor: pointer;
	white-space: nowrap;
	user-select: none;
}
b,
.actions span:hover {
	color: turquoise;
	border-color: turquoise;
}
.actions span.on,
.actions span:active {
	color: black;
	background-color: turquoise;
	border-color: turquoise;
}
